:root {
  --primary: #003057!important;
  --accent: #D39000!important;
  --light: #FBF0DA!important;
  --header: 'Courgette', cursive!important;
  --text: 'Open Sans', 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif!important;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--text) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary) !important;
  color: var(--text) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: var(--accent);
}

.c-accent {
  color: var(--accent)!important;
}
.c-primary {
  color: var(--primary)!important;
}
.c-light {
  color: var(--light)!important;
}

.bg-accent {
  background-color: var(--accent);
}
.bg-primary {
  background-color: var(--primary)!important;
}
.bg-light {
  background-color: var(--light)!important;
}

.ff-text {
  font-family: var(--text)!important;
}
.ff-header {
  font-family: var(--header)!important;
}

.o-0 {
  opacity: 0!important;
}
.o-25 {
  opacity: 0.25!important;
}
.o-50 {
  opacity: 0.5!important;
}
.o-75 {
  opacity: 0.75!important;
}
.o-100 {
  opacity: 1!important;
}
.transition {
  transition: 0.5s;
}
.o-hover-25:hover {
  opacity: 0.25!important;
}
.o-hover-50:hover {
  opacity: 0.5!important;
}
.o-hover-75:hover {
  opacity: 0.75!important;
}
.o-hover-100:hover {
  opacity: 1!important;
}

.nav-link, .navbar-toggler {
  color: var(--light);
}
.nav-link:hover, .navbar-toggler:hover {
  color: var(--accent);
}
.nav-link.active {
  color: var(--accent);
}
.nav-tabs .nav-link.active {
  color: var(--accent);
  background-color: transparent;
  border-color: var(--light);
}

.form-group label, .mde-preview {
  color: var(--light)!important;
}
.mde-text {
  background-color: var(--light)!important;
}
.mde-header, .grip {
  background-color: var(--accent)!important;
}
.mde-header button {
  color: var(--primary)!important;
}

hr {
  border-top: 1px solid var(--light);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes fade {
  0% { opacity: 1; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}
